.header {
  height: 64px;
  padding: 0 20px;
  background: #fff;

  display: flex;
  align-items: center;

  &-collapsed {
    cursor: pointer;
    font-size: 20px;
  }

  &-body {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
