// 滚动条设置
::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: rgba($color: #999, $alpha: 0.5);
}
