.menu {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(29,35,41,.05);

  // 滚动条设置
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba($color: #999, $alpha: 0.4);
  }

  &-logo {
    height: 64px;
    width: 220px;
    padding: 0 24px;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.5s;

    display: flex;
    align-items: center;

    img {
      height: 50%;
    }

    &-title {
      margin: 0;
      height: 100%;
      width: 200px;
      font-size: 20px;
      font-weight: 500;
      color: #1890ff;
      padding-left: 12px;
      transition: opacity 0.5s;

      flex: none;
      display: flex;
      align-items: center;
    }
  }

  &-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  :global {
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border-right: none
    }
  }
}

// 收缩起来时样式覆盖
.menu-collapsed {
  .menu-logo {
    width: 64px;
    overflow: hidden;

    h1 {
      opacity: 0;
    }
  }
}
