.menu {
  border-right: 1px solid rgba(29,35,41,.05);

  &-logo {
    height: 64px;
    width: 220px;
    padding: 0 24px;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: width 0.5s;

    &-body {
      display: flex;
      img {
        height: 30px;
      }

      h1 {
        margin: 0;
        width: 200px;
        font-size: 20px;
        font-weight: 500;
        color: #1890ff;
        padding-left: 12px;
      }
    }
  }

  :global {
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border-right: none
    }
  }
}

.menu-collapsed {
  .menu-logo {
    width: 64px;
    overflow: hidden;
  }
}
